body {
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto', sans-serif;
    background-image: url(../img/background.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: #fff;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 10px;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

a:link {
    color: #FFF;
}

a:visited {
    color: #FFF;
}

a:hover {
    color: #F26522;
}

.castle:hover {
    fill: #F26522;
}


.milan {
    text-transform: uppercase;
    font-family: Roboto;
    font-size: 29px;
    font-style: normal;
    font-weight: 700;
    line-height: 22px;
    padding-left: 10px;
}

.holidays {
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 10px;
    text-transform: uppercase;
}

.header-section {
    display: flex;
    box-sizing: border-box;
    justify-content: space-between;
    align-items: center;
    padding-left: 50px;
    padding-top: 20px;
    margin-bottom: 50px;

}




.logo-link {
    display: flex;

}



/* .logo-link::before{
content: url(../img/logo3.svg);
    display: block;
    position: absolute;
  top: 0;
  left: -50px;
  right: 0;
  bottom: 0;
} */

/* .logo-link::before:hover{
    fill: #F26522;
    color: #F26522;
} */

.adress-links {
    text-align: end;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
}

li {
    padding-bottom: 20px;
}


.blocks {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: center;
}


.block-1 {
    height: 261px;
    flex-shrink: 0;
    margin-bottom: 50px;

}

.block-2 {
    height: 261px;
    flex-shrink: 0;
    margin-bottom: 50px;
}

.block-3 {
    height: 261px;
    flex-shrink: 0;
    margin-bottom: 50px;
}

.block-4 {
    height: 261px;
    flex-shrink: 0;
    margin-bottom: 50px;
}

.block-5 {
    height: 261px;
    flex-shrink: 0;
    margin-bottom: 50px;
}

.block-6 {
    height: 261px;
    flex-shrink: 0;
    margin-bottom: 50px;
}


.img-1,
.img-2,
.img-3,
.img-4,
.img-5,
.img-6 {
    border-width: 2px;
    border-style: solid;
    border-image: linear-gradient(to bottom,
            #FFFFFF,
            #00000000) 1 100%;
}



.img-1 {
    display: block;
    position: relative;
    z-index: 0;
}

.hover-1 {
    opacity: 0;
    color: #FFF;
    background-color: #F26522;
    width: 300px;
    height: 55px;
    z-index: 1;
}

.img-1:hover {
    position: relative;
    content: attr(hover-1);
    z-index: 1;
    opacity: 1;
}



.footer-section {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}